body {
    background-color: #f3e6d8;
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: #302D2C;
    font-size: 40px;
}
h1, h2 {
    font-family: "Young Serif", serif;
    font-weight: 400;
}


h2, li::marker, td {
    color: #854632;
}
h2 {
    font-size: 30px;
}

strong {
    font-weight: 700;
}

li, p, th {
    color: #5f574e;
}

img {
    width: 100%;
    border-radius: 15px;
}

#container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    width: 800px;
}

#preparation {
    background-color: #FFF5FA;
    padding: 16px 20px;
    border-radius: 16px;
}

#preparation-title {
    font-size: 25px;
    color: #7b284f;
    font-weight: 700;
    margin: 10px 0;
}

li {
    padding: 5px 0;
}

li::marker {
    font-weight: 600;
}

ul, ol {
    padding: 0 20px;
}


.section {
    border-bottom: #e4ded8 solid 1px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

table {
    width: 100%;
    border-collapse: collapse;
}
th {
    text-align: left;
    font-weight: 400;
    padding-left: 30px;
}

td {
    font-weight: 700;
}
tr {
    height: 50px;
}
tr:not(:last-child) {
    border-bottom: #e4ded8 solid 1px;
}